@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: KenokyLight;
    src: url('/fonts/kenoky/kenoky_light.ttf')  format('truetype');
}

@font-face {
    font-family: HarmondExtraboldExpanded;
    src: url('/fonts/harmond/harmond_extrabold_expanded.otf')  format('opentype');
}

@font-face {
    font-family: HarmondExtraboldItalicExpanded;
    src: url('/fonts/harmond/harmond_extrabold_italic_expanded.otf')  format('opentype');
}

@font-face {
    font-family: HarmondSemiboldCondensed;
    src: url('/fonts/harmond/harmond_semibold_condensed.otf')  format('opentype');
}


@font-face {
    font-family: HarmondSemiboldItalicCondensed;
    src: url('/fonts/harmond/harmond_semibold_italic_condensed.otf')  format('opentype');
}

.harmond-semibold {
    font-family: 'HarmondSemiboldCondensed';
}

.kenoky-light {
    font-family: 'KenokyLight';
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.modern-scrollbar::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}